*{
    font-family: Arial, Melvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(189, 96, 165);
}

main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}